$blue:            #053E91;
$purple:          #680389;
$pink:            #9E0B71;
$yellow:          #E2A90B;
$bright-yellow:   #FAD338;
$green:           #00AA61;

$gray-100:        #F3F3FF;
$gray-300:        #E9E9F4;
$gray-400:        #CCCCDB;
$gray-500:        #9A9AA8;
$gray-700:        #61616B;
$gray-800:        #3C3C4C;
$gray-900:        #24243E;

$primary:         $purple;
$secondary:       $yellow;
